font-stack = Helvetica, sans-serif
primary-color = #999
body
    font 100% font-stack
    font-size: 14px
ul
    padding: 0px
.app-menu
    font-size: 16px
.app-menu li
    display: inline
    margin-right: 15px
.view
    transition: all .5s ease
.test-enter, .test-leave
    opacity: 0;
    transform: translate3d(10px, 0, 0);
.v-link-active
    color: red;
[v-cloak]
    display: none;